
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--===============================
    =            image tengah            =
    ================================-->
<section class="hero-area bg-1 text-center overly">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Header Contetnt -->
                <div class="content-block">
                    <h1>Travel with MRT </h1>
                    <p>MRT SBK Line has fully commenced on 17 July 2017, with 31 stations opened along the 51km-long alignment. The end-to-end journey from Sungai Buloh to Kajang takes about 84 minutes.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- image tengah End -->
