
@{
    ViewBag.Title = "thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


    <div class="container thanks">
        <h4>Thank you for purhasing, please check you email</h4>
    </div>
